<style>
#line-chart {
  font: 10px sans-serif;
  margin-bottom: 50px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
</style>
<div class="col-sm-6 col-xs-12">
  <div class="row">
    <div class="container">
      <header class="major" style="margin-bottom: 80px;">
        <h2 class="text-center">Line Chart</h2>
      </header>  
    <!-- FIXME -->
    
    <div id="line-chart" class="col-md-offset-2 col-sm-12">
      <script src="//d3js.org/d3.v3.min.js"></script>
      <%= javascript_include_tag 'line_charts' %>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
    </div>
  </div>
</div>