<div class="col-sm-6 col-xs-12">
  <div class="row">
    <div class="container">
      <header class="major" style="margin-bottom: 80px;">
        <h2 class="text-center">Pie Chart</h2>
      </header>
      <div id="pieChart" class="col-md-offset-3"></div>
        <!-- OPTIMIZE -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
    </div>
  </div>
</div>