<div class="col-sm-6 col-xs-12">
  <div class="row">
    <div class="container">
      <div id="pieChart"></div>
        <!-- OPTIMIZE -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
    </div>
  </div>
</div>