<style type="text/css">
  #news {
    margin-bottom: 20px;
    border:1px solid #ccc;
  }
  .frame {
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #FFF;
    background: rgb(255,255,255);
  }
  .prompt {
    margin: -20px -20px 20px -20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    background: #26b9b9;
    text-shadow: 0px 0px 0px rgba(255,255,255,0);
  }
  .collapsed {
    text-decoration: none;
  }
</style>
<!-- Main -->
<div id="main" class="wrapper style4">
  <div class="container">
    <div class="row">
  
      <!-- Content -->
      <div id="content" class="8u skel-cell-important">
        <section>
          <header class="major">

          <div class="index-box">
            <div id="news" class="frame">
              <div class="prompt">News</div>
              <div class="panel-group" id="accordion">
                <!-- Start Here -->

                <% @posts.each do |post| %>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                      <%= link_to post.title, post %>                      
                      </h4>
                    </div>              
                  </div>
                <% end %>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse0">
                      Pellentesque lectus gravida blandit
                    </a>
                    </h4>
                  </div>              
                </div>                
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                      Phasellus nibh pellentesque congue
                    </a>
                    </h4>
                  </div>              
                </div>                                
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                      Cras vitae metus aliquam pharetra
                    </a>
                    </h4>
                  </div>              
                </div>                
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                      Maecenas vitae orci feugiat eleifend
                    </a>
                    </h4>
                  </div>              
                </div>                
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                      Phasellus nibh pellentesque congue
                    </a>
                    </h4>
                  </div>              
                </div>                              
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                      Cras vitae metus aliquam pharetra
                    </a>
                    </h4>
                  </div>              
                </div>
                
                <!-- End Here -->
              </div>
            </div>
          </div>

        </section>
      </div>            

      <!-- Sidebar -->
      <%= render "sidebar" %>

    </div>
  </div>
</div>