<div class="col-sm-6 col-xs-12">
  <div class="row">
    <div class="col-xs-12">
        <div class="container">
          <header class="major" style="margin-bottom: 80px;">
            <h2 class="text-center">Assay Chart</h2>
          </header>
        <!-- TODO -->


          <div id="statisticsCharts" class="col-md-6 col-sm-12 col-md-offset-1">
            <div class="container padding-top-l">      
              <p  style="color:#07418F;margin-left:70px;margin-right:60px;font-size:1.3em; text-decoration:bold; ">Welcome to the new Summary Page. This page displays summary statistics regarding the data indexed by LIFEwrx.  Statistics are currently calculated only for those assays for which normalized perturbation data is available (9 out of 13 assays searchable in LIFEwrx).  Help is available by clicking on the help icon next to Bioassays.  All feedback is welcome and can be provided by clicking the "Provide Feedback" tab at the right side of the page.</p>

              <div id="assayStats" class="col-xs-12 chart-space">
                <div id="participantChart"></div> 
              </div>                    
            </div>
          </div>          

          </div>
    </div>
  </div>
</div>